h1{
    color :#1386138e;
    background-color : #d84f4f;
    height: 90px;
    width: 75%;
    font-size: 100;
    font-weight: bold;
    font-family: fantasy;
}
img{
    width: 50%;
}
#morog{
    font-size: 50px;
    color: tomato;
}
.pp{
    color: lightblue;
    background-color : lightcoral;
    font-size: 40px;
    border: solid peachpuff;
    border-color: peru;
    border-width: 40px;
    border-radius: 20px;
    margin: 20px 30px 40px 50px;
    padding: 5px 4px 3px 10px;

}
span{
    color: rebeccapurple;
    
}
.blog{
    color: rgb(59, 36, 97);
    background: sienna;
}
.padding-test p{
    border: 10px solid #00158017;
    width: 300px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    display: inline-block;

}
.recheck{
    border: 10px solid peachpuff;
    padding: 10px;
    width: 300px;
    height: 100px;
    display: inline-block;
    border-radius: 10px;
}
